:root{
    /* Primary  8:15 parou no 12*/
    --LimeGreen: hsl(163,72%,41%);
    --BrightRed: hsl(356,69%,56%);
    --Facebook:hsl(195,100%,50%);
    --Twitter: hsl(203,89%,53%);
    --Youtube:  hsl(348,97%,39%);
    --Instagram: linear-gradient(to right,hsl(37,97%,70%),hsl(329,70%,58%));

    /* Dark Theme */
    --ToggleBtnDark: hsl(230,22%,74%);

    /* Light theme */
    --BgLight:  rgba(43, 56, 241, 0.541);
    --BgLigthTop: rgba(152, 166, 219, 0.842);
    --BgLightCard: rgba(240, 242, 250, 0.562);
    --BgLightCardHover:  hsl(227,32%,86%);
    --ColorDark: hsl(230,17%,14%);
    --ColorDarkLight: hsl(228,12%,44%);
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body.dark{
   --ToggleBtnDark: linear-gradient(to right,hsl(210,78%,56%),hsl(146,78%,56%)); 

   --BgLight: hsl(230, 17%, 14%);
   --BgLigthTop: hsl(232, 19%, 15%);
   --BgLightCard: hsl(228, 28%, 20%);
   --BgLightCardHover: hsl(228,26%,26%);
   --ColorDark: hsl(0, 0%,100%);
   --ColorDarkLight: hsl(228,34%,66%);
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background: var(--BgLigthTop);
}

body .container{
    width: 80%;
    margin: 0 auto;
}